name: Java CI with Maven with Windows and Mac

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # test against several OSes:
        os: [macos-latest, windows-latest]


    name: Build with Java 17 on ${{ matrix.os }}
    steps:
     - name: Cache Maven packages
       uses: actions/cache@v4
       with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-jdk${{ matrix.java }}-${{ hashFiles('**/pom.xml', '**/*.yml') }}
        restore-keys: |
          ${{ runner.os }}-m2-
     - uses: actions/checkout@v4
     - name: Set up JDK 17
       uses: actions/setup-java@v4
       with:
        java-version: 17
        distribution: 'temurin'
     - name: Build with Maven
       run: mvn test
       working-directory: inventorymanager

